* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: rgb(46, 7, 7);
}

header {
  top: 0;
  height: 18m;
  width: 70%;
  background-color: rgb(96, 139, 240);
  border: 2px solid black;
  margin-left: 13em;
}

#top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-family: cursive;
  font-size: 2em;
  text-shadow: 3px 3px 5px red;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 3em;

  padding: 1em;
  background-color: rgb(245, 73, 73);
  border-radius: 0.5em;

  border: 2px solid rgb(8, 8, 8);
  position: fixed;
  right: 0;
  top: 0;
}

#result {
  color: rgb(255, 249, 249);
  text-shadow: 3px 3px 5px rgb(251, 11, 11);
  font-size: 2rem;
}

.hidden {
  visibility: hidden;
}

#outside-box {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(7, 9em);
  grid-template-rows: auto;
  align-content: center;
  justify-items: center;
}

.container {
  margin-top: 1em;
  width: 8em;
  height: 10em;
  /* border: 2px solid black; */
  border-radius: 2em;
  margin-left: 25em;
}

.cards {
  height: 10em;
  width: 8em;

  position: relative;
  transform-style: preserve-3d;
  transition: transform 1500ms;
  border: 2px solid black;
  border-radius: 2em;
  cursor: pointer;
}

.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2em;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  height: 100%;
  width: 100%;
  /* background-image: url('./game.jpg'); */
}
.front img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 2em;
}
.back {
  background-color: rgb(202, 177, 240);
  transform: rotateY(180deg);
  text-align: center;
}

.back span {
  font-size: 10px;
}

.btnlist li {
  display: inline;
  width: 200px;
}

#points {
  height: 1.5em;
  width: 4.5em;
  margin-top: 0.2em;
  background-color: #6a6b6c;
  border: 2px solid black;
  border-radius: 0.5em;
  text-align: center;
  font-size: 1.5em;
}

#timeScore {
  object-fit: cover;
  height: 1.5em;
  width: 7em;
  background-color: #6a6b6c;
  border: 2px solid black;
  border-radius: 0.5em;
  text-align: center;
  font-size: 1.5em;
}

#timeRecord {
  width: 8em;
  height: 5em;
  padding: 1em;
  background-color: rgb(245, 73, 73);
  border-radius: 0.5em;
  border: 2px solid rgb(23, 22, 22);
  position: fixed;
  left: 0;
  top: 0;
  color: aliceblue;
  font-size: 20px;
  text-align: center;
  
}

#timeRecordValue{
 
}
